#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.expense{
  list-style-type: none;
  background: linear-gradient(#F5C6C7, #D56B6F);
  border-radius: 5px;
}

.income{
  list-style-type: none;
  background: linear-gradient(#D7EEDB, #75B79e);
  border-radius: 5px;
}




.form-new-input{
  grid-template-columns: 1fr 1.5fr;
  margin: 1.6rem; */
  padding: 1.2rem;
  background-color: ;
  border-radius: 7px;
}

.input-form{
  font-size: 20px;
  padding: 5px;
  margin: 12px;
}

.input-form-description{
  margin-left: 10px;
  font-size: 20px;
  padding: 5px;
}

.in-red{
  color: red;
  border: solid 1px;
  border-radius: 50px;
  padding: 10px;
}